In [139]:
import pandas as pd

In [140]:
df = pd.read_table('metro.txt', sep='|', names= ('LAUS_AREA_CODE','FIPS_CD_ST','FIPS_CD_CT','AREA_TITLE','PERIOD','LABOUR_FORCE','EMPLOYED','UNEMP_LEVEL','UNEMP_RATE'))

In [141]:
df

,LAUS_AREA_CODE,FIPS_CD_ST,FIPS_CD_CT,AREA_TITLE,PERIOD,LABOUR_FORCE,EMPLOYED,UNEMP_LEVEL,UNEMP_RATE
0,CN0100100000000,1.0,1.0,"Autauga County, AL",Sep-19,"26,010","25,391",619,2.4
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",Sep-19,"96,754","94,510","2,244",2.3
2,CN0100500000000,1.0,5.0,"Barbour County, AL",Sep-19,"8,656","8,376",280,3.2
3,CN0100700000000,1.0,7.0,"Bibb County, AL",Sep-19,"8,655","8,430",225,2.6
4,CN0100900000000,1.0,9.0,"Blount County, AL",Sep-19,"25,351","24,763",588,2.3
...,...,...,...,...,...,...,...,...,...
45062,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",Oct-20(p),"2,386","2,133",253,10.6
45063,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",Oct-20(p),"6,603","5,969",634,9.6
45064,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",Oct-20(p),"7,961","7,168",793,10.0
45065,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",Oct-20(p),"9,250","8,321",929,10.0
45066,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Columns available in data set

In [142]:
df.columns

Index(['LAUS_AREA_CODE', 'FIPS_CD_ST', 'FIPS_CD_CT', 'AREA_TITLE', 'PERIOD',
       'LABOUR_FORCE', 'EMPLOYED', 'UNEMP_LEVEL', 'UNEMP_RATE'],
      dtype='object')

|Column | Description|
|---|---|
|LAUS_AREA_CODE |Local Area Unemployment statistics area code |
|FIPS CD CT     |Federal Information Processing Standard code for state|
|AREA TITLE     |Name of County |
|PERIOD | Month and Year |
|UNEMP_LEVEL | Unemployment level|
|UNEMP_RATE | Unemployment rate |

In [143]:
df.dropna(inplace = True)

#### The number of NA present in the data

In [144]:
df.isna().sum()

LAUS_AREA_CODE    0
FIPS_CD_ST        0
FIPS_CD_CT        0
AREA_TITLE        0
PERIOD            0
LABOUR_FORCE      0
EMPLOYED          0
UNEMP_LEVEL       0
UNEMP_RATE        0
dtype: int64

In [145]:
import pandas_profiling
from pandas_profiling import ProfileReport

##### Split AREA_TITLE column to county and state

In [146]:
df[['COUNTY','STATE']] =  df.AREA_TITLE.str.split(',',expand=True,)
df

,LAUS_AREA_CODE,FIPS_CD_ST,FIPS_CD_CT,AREA_TITLE,PERIOD,LABOUR_FORCE,EMPLOYED,UNEMP_LEVEL,UNEMP_RATE,COUNTY,STATE
0,CN0100100000000,1.0,1.0,"Autauga County, AL",Sep-19,"26,010","25,391",619,2.4,Autauga County,AL
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",Sep-19,"96,754","94,510","2,244",2.3,Baldwin County,AL
2,CN0100500000000,1.0,5.0,"Barbour County, AL",Sep-19,"8,656","8,376",280,3.2,Barbour County,AL
3,CN0100700000000,1.0,7.0,"Bibb County, AL",Sep-19,"8,655","8,430",225,2.6,Bibb County,AL
4,CN0100900000000,1.0,9.0,"Blount County, AL",Sep-19,"25,351","24,763",588,2.3,Blount County,AL
...,...,...,...,...,...,...,...,...,...,...,...
45061,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",Oct-20(p),"12,543","11,146","1,397",11.1,Vega Baja Municipio,PR
45062,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",Oct-20(p),"2,386","2,133",253,10.6,Vieques Municipio,PR
45063,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",Oct-20(p),"6,603","5,969",634,9.6,Villalba Municipio,PR
45064,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",Oct-20(p),"7,961","7,168",793,10.0,Yabucoa Municipio,PR
45065,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",Oct-20(p),"9,250","8,321",929,10.0,Yauco Municipio,PR

##### Split the PERIOD column into PERIODC and DELETE, with plans to remove (p)

In [147]:
df[['PERIODC','DELETE']]= df['PERIOD'].astype(str).str.split('(',expand = True,)
df

,LAUS_AREA_CODE,FIPS_CD_ST,FIPS_CD_CT,AREA_TITLE,PERIOD,LABOUR_FORCE,EMPLOYED,UNEMP_LEVEL,UNEMP_RATE,COUNTY,STATE,PERIODC,DELETE
0,CN0100100000000,1.0,1.0,"Autauga County, AL",Sep-19,"26,010","25,391",619,2.4,Autauga County,AL,Sep-19,None
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",Sep-19,"96,754","94,510","2,244",2.3,Baldwin County,AL,Sep-19,None
2,CN0100500000000,1.0,5.0,"Barbour County, AL",Sep-19,"8,656","8,376",280,3.2,Barbour County,AL,Sep-19,None
3,CN0100700000000,1.0,7.0,"Bibb County, AL",Sep-19,"8,655","8,430",225,2.6,Bibb County,AL,Sep-19,None
4,CN0100900000000,1.0,9.0,"Blount County, AL",Sep-19,"25,351","24,763",588,2.3,Blount County,AL,Sep-19,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45061,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",Oct-20(p),"12,543","11,146","1,397",11.1,Vega Baja Municipio,PR,Oct-20,p)
45062,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",Oct-20(p),"2,386","2,133",253,10.6,Vieques Municipio,PR,Oct-20,p)
45063,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",Oct-20(p),"6,603","5,969",634,9.6,Villalba Municipio,PR,Oct-20,p)
45064,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",Oct-20(p),"7,961","7,168",793,10.0,Yabucoa Municipio,PR,Oct-20,p)
45065,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",Oct-20(p),"9,250","8,321",929,10.0,Yauco Municipio,PR,Oct-20,p)

##### Remove the DELETE column

In [148]:
del df['DELETE']

##### Swap columns PERIOD and PERIODC

In [149]:
df['PERIOD'],df['PERIODC'] = df['PERIODC'],df['PERIOD']
df

,LAUS_AREA_CODE,FIPS_CD_ST,FIPS_CD_CT,AREA_TITLE,PERIOD,LABOUR_FORCE,EMPLOYED,UNEMP_LEVEL,UNEMP_RATE,COUNTY,STATE,PERIODC
0,CN0100100000000,1.0,1.0,"Autauga County, AL",Sep-19,"26,010","25,391",619,2.4,Autauga County,AL,Sep-19
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",Sep-19,"96,754","94,510","2,244",2.3,Baldwin County,AL,Sep-19
2,CN0100500000000,1.0,5.0,"Barbour County, AL",Sep-19,"8,656","8,376",280,3.2,Barbour County,AL,Sep-19
3,CN0100700000000,1.0,7.0,"Bibb County, AL",Sep-19,"8,655","8,430",225,2.6,Bibb County,AL,Sep-19
4,CN0100900000000,1.0,9.0,"Blount County, AL",Sep-19,"25,351","24,763",588,2.3,Blount County,AL,Sep-19
...,...,...,...,...,...,...,...,...,...,...,...,...
45061,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",Oct-20,"12,543","11,146","1,397",11.1,Vega Baja Municipio,PR,Oct-20
45062,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",Oct-20,"2,386","2,133",253,10.6,Vieques Municipio,PR,Oct-20
45063,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",Oct-20,"6,603","5,969",634,9.6,Villalba Municipio,PR,Oct-20
45064,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",Oct-20,"7,961","7,168",793,10.0,Yabucoa Municipio,PR,Oct-20
45065,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",Oct-20,"9,250","8,321",929,10.0,Yauco Municipio,PR,Oct-20

##### Delete column PERIODC

In [150]:
del df['PERIODC']

##### convert column PERIOD to datetime object

In [151]:
df['PERIOD']= pd.to_datetime(df['PERIOD'].str.strip(), format = '%b-%y')
df

,LAUS_AREA_CODE,FIPS_CD_ST,FIPS_CD_CT,AREA_TITLE,PERIOD,LABOUR_FORCE,EMPLOYED,UNEMP_LEVEL,UNEMP_RATE,COUNTY,STATE
0,CN0100100000000,1.0,1.0,"Autauga County, AL",2019-09-01,"26,010","25,391",619,2.4,Autauga County,AL
1,CN0100300000000,1.0,3.0,"Baldwin County, AL",2019-09-01,"96,754","94,510","2,244",2.3,Baldwin County,AL
2,CN0100500000000,1.0,5.0,"Barbour County, AL",2019-09-01,"8,656","8,376",280,3.2,Barbour County,AL
3,CN0100700000000,1.0,7.0,"Bibb County, AL",2019-09-01,"8,655","8,430",225,2.6,Bibb County,AL
4,CN0100900000000,1.0,9.0,"Blount County, AL",2019-09-01,"25,351","24,763",588,2.3,Blount County,AL
...,...,...,...,...,...,...,...,...,...,...,...
45061,CN7214500000000,72.0,145.0,"Vega Baja Municipio, PR",2020-10-01,"12,543","11,146","1,397",11.1,Vega Baja Municipio,PR
45062,CN7214700000000,72.0,147.0,"Vieques Municipio, PR",2020-10-01,"2,386","2,133",253,10.6,Vieques Municipio,PR
45063,CN7214900000000,72.0,149.0,"Villalba Municipio, PR",2020-10-01,"6,603","5,969",634,9.6,Villalba Municipio,PR
45064,CN7215100000000,72.0,151.0,"Yabucoa Municipio, PR",2020-10-01,"7,961","7,168",793,10.0,Yabucoa Municipio,PR
45065,CN7215300000000,72.0,153.0,"Yauco Municipio, PR",2020-10-01,"9,250","8,321",929,10.0,Yauco Municipio,PR

In [153]:
df.dtypes

LAUS_AREA_CODE            object
FIPS_CD_ST               float64
FIPS_CD_CT               float64
AREA_TITLE                object
PERIOD            datetime64[ns]
LABOUR_FORCE              object
EMPLOYED                  object
UNEMP_LEVEL               object
UNEMP_RATE                object
COUNTY                    object
STATE                     object
dtype: object

In [154]:
df.describe(include= 'O')

,LAUS_AREA_CODE,AREA_TITLE,LABOUR_FORCE,EMPLOYED,UNEMP_LEVEL,UNEMP_RATE,COUNTY,STATE
count,45066,45066,45066,45066,45066,45066,45066,45052
unique,3220,3219,28548,28046,8995,303,1954,442
top,CN2212100000000,"Tripp County, SD",-,-,-,3.4,Washington County,TX
freq,14,14,156,156,156,913,420,952

##### Making the value of each state unique

In [155]:
df['STATE']= df['STATE'].str.strip()
df['STATE'].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', None, 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'PR'], dtype=object)

In [156]:
df.describe(include='O')

,LAUS_AREA_CODE,AREA_TITLE,LABOUR_FORCE,EMPLOYED,UNEMP_LEVEL,UNEMP_RATE,COUNTY,STATE
count,45066,45066,45066,45066,45066,45066,45066,45052
unique,3220,3219,28548,28046,8995,303,1954,51
top,CN2212100000000,"Tripp County, SD",-,-,-,3.4,Washington County,TX
freq,14,14,156,156,156,913,420,3556